

/*whatsupp*/

/*prima*/
#aside{
    width:35%;
    float: left;
}

#myname_bar{
    display:flex;
    justify-content: space-between;
    background-color:#eaeaea;
}

#avatar > img{
    width: 51px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}

#avatar > h5{
    display: inline-block;
    margin-left: 15px;
}

#interactions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#interactions > i{
    padding: 20px;
    color: gray;
}

/*seconda*/

#notifiche{
    display: flex;
    line-height: 0;
    padding:10px;
    background-color:#8ddafc;
}

#notifiche > i {
    padding:0;
    line-height: 2;
    margin:0 10px;
}

/*terza*/

#write{
    width:90%;
    height: 30px;
    margin: 20px 15px;
}

/*quarta*/

.messages{
    display:flex;
    border-bottom:1px solid rgb(197, 197, 197);
    padding: 20px;
}

.messages > img{
    width: 60px;
    border-radius: 50%;
}

.messages > p{
    margin-left: 20px;
}

/*RIGHT*/
#chat{
    float: right;
    width: 65%;
}

#on_line{
    height:7vh;
    display:flex;
    padding: 20px;
}

#on_line > img{
    border-radius: 50%;
    margin-left: 10px; 
}

#chat_box{
    background-image: url('https://preview.redd.it/qwd83nc4xxf41.jpg?auto=webp&s=172adf428061ec1b71c0d43b7ba870f85d46a816');
    min-height: 75vh;
    width: 100%;
}

/*TERZA PARTE*/

#message_bar{
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:11vh;
}

#barra{
    width:80%;
    height:20px;
    border: 1px solid grey;
}