<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="css\style.css">
        <title>Vue-Boolzapp</title>
    </head>

    <body>
        
        <!-- contenitore dell'applicazione -->
        <div id="container">

            <!--Left part-->
            <section id="aside">

                <!--Prima -->
                <div id="myname_bar">
                    <div id="avatar">
                        <img src="img\avatar_io.jpg" alt="Me">
                        <h5>Nome utente</h5>
                    </div>
                    <div id="interactions">
                        <i class="fas fa-spinner"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!--Notifiche di nuovi messaggi-->
                <div id="notifiche">
                
                    <i class="fas fa-bell-slash fa-2x"></i>
                    <div id="invite">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <p>Attiva notifiche dekstop</p>
                    </div>

                </div>
                
                <!--Barra di ricerca-->
                <div id="search">
                    <i class="fas fa-search fa-2x"></i>
                    <input id="write" type="text" placeholder="Search.." v-model="confront">
                </div>

                <!--Lista dei contatti-->            
                <div id="contatti">
                    <div 
                        v-if="contatto_.name.toLowerCase().includes(confront.toLowerCase()) "
                        v-for="contatto_,i in contacts" @click="single_card(contatto_)" 
                        class="messages" :key="1"  :class="{'verde':contatto_.visible ? true : null}">
                            <img  :src="contatto_.avatar" :alt="contatto_.name">
                            <p>{{contatto_.name}}</p>
                    </div>
                </div>

            </section>

            <!--Right part-->
            <section id="chat">

                <!--Nome contatto-->
                <div id="on_line_box">

                    <div id="on_line" v-for="profile,i in contacts" :key="i" v-if ="profile.visible === true">
                        <img :src="profile.avatar" :alt="profile.name">
                        <span id="p_span">{{profile.name}}</span> <br>
                    </div> 

                    <div id="on_line_box_i">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
                
                <!--Blocco messaggi principale-->
                <div id="main_space">
                    <div id="message_space" v-for="element, i in contacts" :key="1" >
                        <div id="chat_box" v-for="sms, in element.messages" 
                        v-if ="element.visible === true ">
                            <span>{{sms.text}}</span>
                        </div>
                    </div>
                </div>

                <!--Blocco messaggi principale-->
                <div id="message_bar">
                    <i class="far fa-smile fa-2x"></i>
                    <input type="text" id="add_message" v-model="newMessage" placeholder="Scrivi un messaggio">
                    <p v-if="visualizzaOk === true">ok</p>
                    <button @click="AggiungiMessagio()"> invia</button>
                    <i class="fas fa-microphone fa-2x"></i>
                </div>

            </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js\script.js"></script>
        
    </body>

</html>